<% @employees.each do |emp| %>
    <ul>
        <li><%= link_to "#{emp}", employee_path(emp) %></li>
    </ul
    <!-- I'd bring back the indentation of this end, so it lines up with the start of the loop -->
    <% end %>